<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat bins</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>
    <h3>
        Hello {{ request.user.username }}
        <a href="{% url 'logout' %}" style="float: right">Logout</a>
    </h3>
    <hr>
    {% include 'chatapp/leftbar.html' %}
    <div id="" style="width: 50%; padding: 1%; margin-left: 25%; border:1px solid">
        <div id="messages"></div>
        {% include 'chatapp/message_form.html' %}
    </div>

    {% include 'chatapp/js_holder.html' %}
</body>
</html>